<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Layout design </title>
    <style>
        #sec1{
            background: green;
            padding: 10px;
            float: left;
        }
        #sec2{
            background-color: orange;
            padding: 10px;
            float: right;
        }
        #clear-div{
            clear:both;
        }
        #sec3{
            background-color: yellow;
        }
    </style>
</head>
<body>

    <div id="sec1">
        <h1> Bangladesh </h1>
    </div>

    <div id="sec2">
        <h1> Korea </h1>
    </div>

<div id="clear-div"></div>

    <div id="sec3">
        <p>
            Diam at est accusam justo ipsum eirmod gubergren kasd takimata,
             dolores ut amet sit et invidunt at tempor ut dolor.
              Rebum et et duo et no lorem, ut ipsum clita et sed at et lorem erat consetetur.
             Erat gubergren amet.
        </p>
    </div>
    
</body>
</html>