*{
    margin: 0;      /*for removing the default margin & padding*/
    padding: 0;
}

body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;   /*from google fonts*/
}

.container{
    max-width: 1000px;
    background-color:#E4F9F5 ;
    margin: 0 auto;
    padding: 20px;
}

.propic{
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 100px;
    float: left;
}

.bio{
    float: left;
    padding: 40px;
}

.contact{
    float: right;
    padding: 40px;
}

.contact a{
    color: teal;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover{
    text-decoration: underline;
    color:tomato ;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.clear{
    clear: both;
}

hr{
   border: solid black 2.5px; 
   width: 100%;
   margin: 10px;
   border-bottom: none;
}

/*-----------------
Personal section start
------------------*/

.content{
    margin-bottom: 30px;
}
.left{
    width: 28%;
    float: left;
}
.right{
    width: 72%;
    float: right;
}

.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20 auto;
}

/*-------------------
Education section start
---------------------*/

 .edu-left{
     float:left;
     width: 45%;;
 }
 .edu-right{
    float:left;
    width: 45%;;
}

/*-------------------
Footer section start
---------------------*/

.bottom{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom a{
    color: white;
    text-decoration : none;
    margin: 20px;
}
.bottom p{
    color:white;
    margin-top: 20px;
}